# ---------------------------------- Cluster -----------------------------------
cluster.name: el_cluster1

# ------------------------------------ Node ------------------------------------
node.name: node-1

# ----------------------------------- Paths ------------------------------------

path.logs: /var/log/elasticsearch

# ----------------------------------- Memory -----------------------------------
bootstrap.memory_lock: true

# ---------------------------------- Network -----------------------------------
network.host: 192.168.0.1
http.port: 9200

# --------------------------------- Discovery ----------------------------------
discovery.zen.minimum_master_nodes: 2

# ---------------------------------- Gateway -----------------------------------
gateway.recover_after_nodes: 3

# ---------------------------------- Various -----------------------------------
action.destructive_requires_name: true
